<div class="hero">
  <h2>About Us</h2>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<article class="main-content">
  <h2 class="article-title">RJS Billing Services, LLC</h2>
  <div class="break-line"></div>
  <p class="new-sect">Our Mission</p>
  <p>
    Your time is important. With such valued services, your energy shouldn't have to be directed towards collections.
    At RJS Billing, we look foward to recovering and resolving these situations for you. With our team of devoted agents,
    you can be sure our efforts will be persistent towards relieving you of that stress.
  </p>
  <p class="new-sect">Experience</p>
  <p>
    At RJS Billing, you can expect to find a team of highly trained, HIPAA, compliant debt collectors that specialize in 
    medical billing. With over a decade of experience and a refined strategy, we leave both our clients and debtors satisfied.
  </p>
  <p class="new-sect">Determination</p>
  <p>
    We understand that this process is stressful for both the clients and debtors. We make it a point to be thoughtful yet
    persistent so that a resolution can be attained.
  </p>
</article>
<footer>
  <p>This is an attempt to collect a debt, by a debt collector, and any information obtained will be used for that purpose.</p>
  <p>© 2020 RJS Billing, LLC</p>
</footer>