<div class="hero">
  <h2>Biller's Portal</h2>
</div>>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="main-content">
    <p class="thanks-msg">Thank you. We'll get back to you within 2 business days.</p>
</div>