<div class="hero"><h2>Edit Practice</h2></div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="main-content">
    <p class="new-sect">Please enter the following information</p>
    <div class="break-line"></div>
    <%= render 'form', practice: @practice %>
</div>